---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import EmojiFeedback from "../components/EmojiFeedback";

type Props = CollectionEntry<"zone">["data"] & { userID: string; qrID: number };

const { title, description, pubDate, updatedDate, heroImage, userID, qrID } =
	Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="flex flex-col h-screen">
		<Header />
		<main class="sm:self-center">
			<article>
				{
					heroImage && (
						<img
							class="w-full mb-4"
							width={720}
							height={360}
							src={heroImage}
							alt=""
						/>
					)
				}
				<div class="m-4 sm:pb-5">
					<h1 class="text-2xl sm:text-5xl font-bold">{title}</h1>
					<p class="italic text-sm">
						Last updated: <FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
						<hr />
					</p>
				</div>
				<div
					class="ml-4 mr-4 prose lg:prose-xl prose-headings:mb-0 prose-headings:mt-2 prose-headings:text-xl prose-ul:mt-2"
				>
					<slot />
				</div>
				<EmojiFeedback
					zoneName={title}
					userID={userID}
					qrID={qrID}
					client:load
				/>
			</article>
		</main>
		<Footer />
	</body>
</html>
